.ModelDisplay{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container{
    width: 80%;
    height: 70%;
    background: #171717;
}

.sceneContainer{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px outer rgb(68, 75, 80);
    text-align: center;
}